<div class='review movie-data' id='<%= "#{review.dom_class}-#{@movie.id}" %>'>
  <h3><%=h title %></h3>
  <div class='component'>
    <label>Rating:</label>
    <p><%=h review.rating %></p>
  </div>

  <div class='component'>
    <label>Votes:</label>
    <p><%=h review.votes %></p>
  </div>
  
  <div class='component'>
    <label>Plot:</label>
    <p><%=h review.body %></p>
  </div>
  
  <div class='component'>
    <label>Source:</label>
    <%= remote_review_url(review) %>
  </div>
</div>

