<li href='<%= url_for mini_movie %>' class='has-remote-resource column grid_4' id='<%= dom_id(mini_movie) %>'>
  <ul>
    <li class='images'>
      <%= render :partial=> 'medias/mini_medias', :object=> mini_movie.medias, :locals=> { :movie=> mini_movie } %>
    </li>
    <li class='name clickable' title="<%=h mini_movie.name %>">
      <div><%=h mini_movie.name.titleize %> (<%=h mini_movie.release_year %>)</div>
    </li>
    <li class='tagline clickable' title="<%=h mini_movie.tagline %>">
      <div><%=h mini_movie.tagline %></div>
    </li>
    <li class='plot clickable' title="<%=h mini_movie.plot %>">
      <div><%=h mini_movie.plot %></div>
    </li>
  </ul>
  <div class='content'>
  </div>
</li>